{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true,
    "window": true,
    "fetch": false
  },
  "rules": {
    "react/state-in-constructor": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-unresolved": 0,
    "no-console": "off",
    "no-param-reassign": 0
  }
}
